@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes borderAnimation {
  0% {
    border-color: #ff69b4; /* Start color */
  }
  50% {
    border-color: #ff1493; /* Middle color */
  }
  100% {
    border-color: #ff69b4; /* End color */
  }
}

.animated-border {
  animation: borderAnimation 2s infinite;
}